$grey-light: #ccc;
$grey-medium: #737373;
$grey-dark: #212121;
$green: #55C68C;
$primary-color: #3f51b5;

.af-field {
  position: relative;
  margin-bottom: 10px;
  display: block;
  width: 100%;
  font-size: 1em;
  border: none;
  border-bottom: 1px solid $grey-medium;
  line-height: 1.8;
  color: $grey-dark;

  -moz-appearance: textfield;

  &:focus {
    outline: none;
  }

  &[disabled] {
    border-bottom: 1px dashed $grey-light;

    &::placeholder {
      color: $grey-light;
    }

    & + .af-label {
      color: $grey-light;
    }
  }

  &::placeholder {
    color: $grey-medium;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  &--checkbox {
    position: absolute;
    height: 0;
    opacity: 0;

    &:checked + .af-label--checkbox {
      &:before {
        background-color: $primary-color;
        border-color: $primary-color;
      }

      &:after {
        transform: scale(1) rotate(45deg);
      }
    }
  }
}

.af-label {
  display: block;
  position: absolute;
  font-size: 1em;
  line-height: 1.8;
  color: $grey-medium;
  top: 1.35em;
  margin-top: 2px;
  left: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: text;
  transform-origin: top left;
  transform: translate(0,0);
  transition: transform 0.2s ease;

  &--checkbox {
    display: inline-block;
    position: relative;
    line-height: 1.8;
    top: 0;
    cursor: pointer;
    padding-left: 2em;

    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
    }

    &:before {
      box-sizing: border-box;
      width: 1.5em;
      height: 1.5em;
      background-color: white;
      border: 0.125em solid $grey-medium;
      top: 1px;
      left: 0;
      border-radius: 0.125em;
      transition: border-color 0.1 ease, background-color 0.1s ease;
    }

    &:after {
      top: 0.2em;
      left: 0.15em;
      width: 0.35em;
      height: 0.75em;
      transform: scale(0) rotate(45deg);
      transform-origin: bottom right;
      border-right: 0.125em solid white;
      border-bottom: 0.125em solid white;
      transition: transform 0.15s ease;
    }
  }
}

.af-field-wrapper {
  position: relative;
  padding-top: 1.35em;

  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    right: -2px;
    border-bottom: 2px solid $primary-color;
    opacity: 0;
    transform: scale(0.001, 1);
    transition: none;
  }

  &.af-field-focused {
    &.af-field-has-content .af-label,
    &.af-field-has-placeholder .af-label {
      color: $primary-color;
    }

    &:after {
      opacity: 1;
      transform: scale(1, 1);
      transition: transform 0.2s ease;
    }
  }

  &.af-field-has-content,
  &.af-field-has-placeholder {
    .af-label {
      transform: translate(0, -1em) scale(0.75);
      cursor: default;
    }
  }
}

.af-button {
  border: none;
  font-size: 1em;
  line-height: 1.5;
  height: 2.5em;
  font-family: inherit;
  margin-top: 1em;
  padding: 0.5em 1.25em;
  border-radius: 0.2em;
  cursor: pointer;
  position: relative;

  .af-spinner {
    display: none;
  }

  &.af-submit-button {
    color: white;
    background-color: $green;

    .af-spinner {
      color: $green;
    }

    &:hover {
      background-color: lighten($green, 10);

      .af-spinner {
        color: lighten($green, 10);
      }
    }

    &[disabled] {
      background-color: desaturate($green, 20);

      .af-spinner {
        display: block;
        color: desaturate($green, 20);
      }

      .af-button-text {
        opacity: 0;
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.af-spinner {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  animation: spin 1s infinite linear;

  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
  }

  &:before {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px white;
  }

  &:after {
    width: 100%;
    height: 6px;
    margin-top: 7px;
    background: currentcolor;
  }
}
