@import "partials/variables";

@mixin button-base() {
  display: inline-block;
  border: none;
  font-size: 1em;
  line-height: 1.5;
  font-family: inherit;
  padding: 0.5em 1.25em;
  border-radius: 0.2em;
  cursor: pointer;
  position: relative;
}

@mixin plain-label() {
  display: block;
  position: static;
  transform: none;
  margin: 0.25em 0;
  cursor: pointer;
  color: $grey-medium;
}

@mixin icon($icon-name) {
  background-image: url("./src/img/#{$icon-name}");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1.5em;
  height: 1.5em;
  display: block;
}

.af-field {
  position: relative;
  margin-bottom: 10px;
  display: block;
  width: 100%;
  font-size: 1em;
  border: none;
  border-bottom: 1px solid $grey-medium;
  line-height: 1.8;
  color: $grey-dark;

  -moz-appearance: textfield;

  &:focus {
    outline: none;
  }

  &[disabled] {
    border-bottom: 1px dashed $grey-light;

    &::placeholder {
      color: $grey-light;
    }

    & + .af-label {
      color: $grey-light;
    }
  }

  &::placeholder {
    color: $grey-medium;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  &--file {
    position: absolute;
    left: -9999px;
    opacity: 0;
    height: 0;
  }
}

.af-label {
  display: block;
  position: absolute;
  font-size: 1em;
  line-height: 1.8;
  color: $grey-medium;
  top: 1.35em;
  margin-top: 2px;
  left: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: text;
  transform-origin: top left;
  transform: translate(0,0);
  transition: transform 0.2s ease;

  &--plain {
    @include plain-label();
  }

  &--choice {
    @include plain-label();
  }

  &--file {
    @include button-base();
    position: relative;
    top: 0;
    color: white;
    margin-top: 0;
    background-color: $primary-color;
    padding-left: 2.75em;

    &:hover,
    &:focus {
      background-color: lighten($primary-color, 10);
    }

    &:before {
      @include icon("ic_file_upload_white_24px.svg");
      content: "";
      position: absolute;
      top: 0.5em;
      left: 0.85em;
    }
  }
}

.af-has-files {
  .af-label--file:before {
    @include icon("ic_insert_drive_file_white_24px.svg");
  }
}

.af-has-files,
.af-has-files--multiple {
  .af-button.af-button--file-clear {
    display: inline-block;
  }
}

.af-field-wrapper {
  position: relative;
  padding-top: 1.35em;

  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    right: -2px;
    border-bottom: 2px solid $primary-color;
    opacity: 0;
    transform: scale(0.001, 1);
    transition: none;
  }

  &.af-field-focused {
    &.af-field-has-content .af-label,
    &.af-field-has-placeholder .af-label {
      color: $primary-color;
    }

    &:after {
      opacity: 1;
      transform: scale(1, 1);
      transition: transform 0.2s ease;
    }
  }

  &.af-field-has-content,
  &.af-field-has-placeholder {
    .af-label {
      transform: translate(0, -1em) scale(0.75);
      cursor: default;
    }
  }

  &--no-underline {
    &:after {
      display: none;
    }
  }
}

.af-field-wrapper > .af-field-wrapper {
  padding-top: 0.8em;
}

.af-button {
  @include button-base();

  &.af-button--file-clear {
    color: white;
    background-color: $red;
    vertical-align: top;
    margin-left: 0.5em;
    display: none;

    &:hover {
      background-color: lighten($red, 10);
    }
  }

  .af-spinner {
    display: none;
  }

  &.af-submit-button {
    height: 2.5em;
    margin-top: 1em;
    color: white;
    background-color: $green;

    .af-spinner {
      color: $green;
    }

    &:hover {
      background-color: lighten($green, 10);

      .af-spinner {
        color: lighten($green, 10);
      }
    }

    &[disabled] {
      background-color: desaturate($green, 20);

      .af-spinner {
        display: block;
        color: desaturate($green, 20);
      }

      .af-button-text {
        opacity: 0;
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.af-spinner {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  animation: spin 1s infinite linear;

  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
  }

  &:before {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px white;
  }

  &:after {
    width: 100%;
    height: 6px;
    margin-top: 7px;
    background: currentcolor;
  }
}

.af-file-list {
  margin: 0;
  list-style: none;

  li {
    margin: 0.5em 0 0.75em;
    position: relative;
    line-height: 1.5;

    &:before {
      @include icon("ic_insert_drive_file_black_24px.svg");
      content: "";
      position: absolute;
      top: -2px;
      left: -26px;
    }
  }
}

.af-response-preview {
  color: $grey-dark;
  background-color: lighten($grey-light, 15);
  border: 2px solid $grey-light;
  padding: 15px 25px 20px;
  border-radius: 5px;
}

@import "partials/checkboxes-radio-buttons";
