.af-field {
  position: relative;
  margin-bottom: 10px;
  display: block;
  width: 100%;
  font-size: 1em;
  border: none;
  border-bottom: 1px solid #737373;
  line-height: 1.8;
  color: #212121;
  -moz-appearance: textfield; }
  .af-field:focus {
    outline: none; }
  .af-field[disabled] {
    border-bottom: 1px dashed #ccc; }
    .af-field[disabled]::-webkit-input-placeholder {
      color: #ccc; }
    .af-field[disabled]::-moz-placeholder {
      color: #ccc; }
    .af-field[disabled]:-ms-input-placeholder {
      color: #ccc; }
    .af-field[disabled]::placeholder {
      color: #ccc; }
    .af-field[disabled] + .af-label {
      color: #ccc; }
  .af-field::-webkit-input-placeholder {
    color: #737373; }
  .af-field::-moz-placeholder {
    color: #737373; }
  .af-field:-ms-input-placeholder {
    color: #737373; }
  .af-field::placeholder {
    color: #737373; }
  .af-field::-webkit-outer-spin-button, .af-field::-webkit-inner-spin-button {
    -webkit-appearance: none; }
  .af-field--boolean {
    position: absolute;
    height: 0;
    opacity: 0; }
    .af-field--boolean:checked + .af-label--boolean:before {
      background-color: #3f51b5;
      border-color: #3f51b5; }
    .af-field--boolean:checked + .af-label--boolean:after {
      transform: scale(1) rotate(45deg); }
  .af-field--file {
    position: absolute;
    left: -9999px;
    opacity: 0;
    height: 0; }

.af-label {
  display: block;
  position: absolute;
  font-size: 1em;
  line-height: 1.8;
  color: #737373;
  top: 1.35em;
  margin-top: 2px;
  left: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: text;
  transform-origin: top left;
  transform: translate(0, 0);
  transition: transform 0.2s ease; }
  .af-label--plain {
    display: block;
    position: static;
    margin: 0.25em 0;
    cursor: pointer;
    color: #737373; }
  .af-label--boolean {
    display: inline-block;
    position: relative;
    line-height: 1.8;
    top: 0;
    cursor: pointer;
    padding-left: 2em; }
    .af-label--boolean:before, .af-label--boolean:after {
      content: "";
      display: block;
      position: absolute; }
    .af-label--boolean:before {
      box-sizing: border-box;
      width: 1.5em;
      height: 1.5em;
      background-color: white;
      border: 0.125em solid #737373;
      top: 1px;
      left: 0;
      border-radius: 0.125em;
      transition: border-color 0.1 ease, background-color 0.1s ease; }
    .af-label--boolean:after {
      top: 0.25em;
      left: 0.15em;
      width: 0.35em;
      height: 0.75em;
      transform: scale(0) rotate(45deg);
      transform-origin: bottom right;
      border-right: 0.125em solid white;
      border-bottom: 0.125em solid white;
      transition: transform 0.15s ease; }
  .af-label--file {
    display: inline-block;
    border: none;
    font-size: 1em;
    line-height: 1.5;
    font-family: inherit;
    padding: 0.5em 1.25em;
    border-radius: 0.2em;
    cursor: pointer;
    position: relative;
    position: relative;
    top: 0;
    color: white;
    margin-top: 0;
    background-color: #3f51b5;
    padding-left: 2.5em; }
    .af-label--file:hover, .af-label--file:focus {
      background-color: #606fc7; }
    .af-label--file:before {
      content: "";
      background-image: url("/src/img/ic_file_upload_white_24px.svg");
      background-repeat: no-repeat;
      background-size: cover;
      width: 1.5em;
      height: 1.5em;
      display: block;
      position: absolute;
      top: 0.5em;
      left: 0.85em; }

.af-field-wrapper {
  position: relative;
  padding-top: 1.35em; }
  .af-field-wrapper:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    right: -2px;
    border-bottom: 2px solid #3f51b5;
    opacity: 0;
    transform: scale(0.001, 1);
    transition: none; }
  .af-field-wrapper.af-field-focused.af-field-has-content .af-label,
  .af-field-wrapper.af-field-focused.af-field-has-placeholder .af-label {
    color: #3f51b5; }
  .af-field-wrapper.af-field-focused:after {
    opacity: 1;
    transform: scale(1, 1);
    transition: transform 0.2s ease; }
  .af-field-wrapper.af-field-has-content .af-label, .af-field-wrapper.af-field-has-placeholder .af-label {
    transform: translate(0, -1em) scale(0.75);
    cursor: default; }
  .af-field-wrapper--no-underline:after {
    display: none; }

.af-button {
  display: inline-block;
  border: none;
  font-size: 1em;
  line-height: 1.5;
  font-family: inherit;
  padding: 0.5em 1.25em;
  border-radius: 0.2em;
  cursor: pointer;
  position: relative; }
  .af-button.af-button--file-clear {
    color: white;
    background-color: #FF5656;
    vertical-align: top;
    margin-left: 0.5em; }
    .af-button.af-button--file-clear:hover {
      background-color: #ff8989; }
  .af-button .af-spinner {
    display: none; }
  .af-button.af-submit-button {
    height: 2.5em;
    margin-top: 1em;
    color: white;
    background-color: #55C68C; }
    .af-button.af-submit-button .af-spinner {
      color: #55C68C; }
    .af-button.af-submit-button:hover {
      background-color: #7bd3a6; }
      .af-button.af-submit-button:hover .af-spinner {
        color: #7bd3a6; }
    .af-button.af-submit-button[disabled] {
      background-color: #6caf8d; }
      .af-button.af-submit-button[disabled] .af-spinner {
        display: block;
        color: #6caf8d; }
      .af-button.af-submit-button[disabled] .af-button-text {
        opacity: 0; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.af-spinner {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  animation: spin 1s infinite linear; }
  .af-spinner:before, .af-spinner:after {
    content: "";
    display: block;
    position: absolute; }
  .af-spinner:before {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px white; }
  .af-spinner:after {
    width: 100%;
    height: 6px;
    margin-top: 7px;
    background: currentcolor; }

.af-response-preview {
  color: #212121;
  background-color: #f2f2f2;
  border: 2px solid #ccc;
  padding: 15px 25px 20px;
  border-radius: 5px; }
