$grey-light: #ccc;
$grey-medium: #737373;
$grey-dark: #212121;
$green: #55C68C;
$red: #FF5656;
$primary-color: #3f51b5;

$checkbox-width: 20px;
$checkbox-border-width: 2px;
$radio-button-inner-width: 12px;
